
<app-add-user (addUserList)="addUserList($event)"></app-add-user>

<div class="users-list">

    <table class="users">
        <tr class="head">
            <th class="collumn1">ID</th>
            <th class="collumn2">User Name</th>
            <th class="collumn3">User Email</th>
            <th class="collumn4">Created User</th>
            <th class="collumn5">Update User</th>
        </tr>
        <tr *ngFor=" let i = index; let user of users" 
            class="user-info" 
            [class.bg-black]="i%2 !== 0">
            <td class="collumn1">{{user.id}}</td>
            <td class="collumn2">{{user.name}}</td>
            <td class="collumn3">{{user.email}}</td>
            <td class="collumn4">{{user.created_at | date:'shortDate'}}</td>
            <td class="collumn5">{{user.update_at | date:'shortDate'}}</td>
        </tr>
    </table>

</div>


